---
interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/x-icon" href="/icon/favicon.ico" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Chivo:wght@100..900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {

		/*Light Theme*/
		--background-color : #FFC2D1;
		--main-text-color : #000000;
		--secondary-text-color: #000000;
		--primary-btn-color : #FF6F91;
		--secondary-btn-color: #000000;
		--card-highlight-color : #FFB3C6;
		--modal-background-color : #FFFFFF;
		--hover-color : #f72a5a;
		--background-blur-color : #FFDCDC;

		--transition-duration: 0.5s; 


		/* Embla css */
		--brand-primary: rgb(47, 112, 193);
		--brand-secondary: rgb(116, 97, 195);
		--brand-alternative: rgb(19, 120, 134);
		--background-site: rgb(249, 249, 249);
		--background-code: rgb(244, 244, 244);
		--text-body: rgb(54, 49, 61);
		--text-comment: rgb(99, 94, 105);
		--text-high-contrast: rgb(49, 49, 49);
		--text-medium-contrast: rgb(99, 94, 105);
		--text-low-contrast: rgb(116, 109, 118);
		--detail-high-contrast: rgb(192, 192, 192);
		--detail-medium-contrast: rgb(234, 234, 234);
		--detail-low-contrast: rgb(240, 240, 242);
		--admonition-note: rgb(46, 109, 188);
		--admonition-warning: rgb(255, 196, 9);
		--admonition-danger: rgb(220, 38, 38);
		--brand-primary-rgb-value: 47, 112, 193;
		--brand-secondary-rgb-value: 116, 97, 195;
		--brand-alternative-rgb-value: 19, 120, 134;
		--background-site-rgb-value: 249, 249, 249;
		--background-code-rgb-value: 244, 244, 244;
		--text-body-rgb-value: 54, 49, 61;
		--text-comment-rgb-value: 99, 94, 105;
		--text-high-contrast-rgb-value: 49, 49, 49;
		--text-medium-contrast-rgb-value: 99, 94, 105;
		--text-low-contrast-rgb-value: 116, 109, 118;
		--detail-high-contrast-rgb-value: 192, 192, 192;
		--detail-medium-contrast-rgb-value: 234, 234, 234;
		--detail-low-contrast-rgb-value: 240, 240, 242;
		--admonition-note-rgb-value: 46, 109, 188;
		--admonition-warning-rgb-value: 255, 196, 9;
		--admonition-danger-rgb-value: 220, 38, 38;
	}
	:root.dark {
		/*Dark Theme*/
		--background-color : #0a0a0a;
		--main-text-color : #FAF3E0;
		--secondary-text-color: #E5E1C9;
		--secondary-btn-color: #FF6F91;
		--card-highlight-color : #1E1E1E;
		--modal-background-color : #000000;
		--hover-color : #FAF3E0;
		--background-blur-color : #ffffff28;






		/*  Embla css dark*/
		/* Embla css */
		--brand-primary: rgb(47, 112, 193);
		--brand-secondary: rgb(116, 97, 195);
		--brand-alternative: rgb(19, 120, 134);
		--background-site: rgb(249, 249, 249);
		--background-code: rgb(244, 244, 244);
		--text-body: rgb(54, 49, 61);
		--text-comment: rgb(99, 94, 105);
		--text-high-contrast: rgb(49, 49, 49);
		--text-medium-contrast: rgb(99, 94, 105);
		--text-low-contrast: rgb(116, 109, 118);
		--detail-high-contrast: rgb(192, 192, 192);
		--detail-medium-contrast: rgb(234, 234, 234);
		--detail-low-contrast: rgb(240, 240, 242);
		--admonition-note: rgb(46, 109, 188);
		--admonition-warning: rgb(255, 196, 9);
		--admonition-danger: rgb(220, 38, 38);
		--brand-primary-rgb-value: 47, 112, 193;
		--brand-secondary-rgb-value: 116, 97, 195;
		--brand-alternative-rgb-value: 19, 120, 134;
		--background-site-rgb-value: 249, 249, 249;
		--background-code-rgb-value: 244, 244, 244;
		--text-body-rgb-value: 54, 49, 61;
		--text-comment-rgb-value: 99, 94, 105;
		--text-high-contrast-rgb-value: 49, 49, 49;
		--text-medium-contrast-rgb-value: 99, 94, 105;
		--text-low-contrast-rgb-value: 116, 109, 118;
		--detail-high-contrast-rgb-value: 192, 192, 192;
		--detail-medium-contrast-rgb-value: 234, 234, 234;
		--detail-low-contrast-rgb-value: 240, 240, 242;
		--admonition-note-rgb-value: 46, 109, 188;
		--admonition-warning-rgb-value: 255, 196, 9;
		--admonition-danger-rgb-value: 220, 38, 38;
	}
	
	h1, ul, hr {
		color: var(--main-text-color);
	}
	p, h2{
		color: var(--secondary-text-color);
	}

	/* for smooth transition*/
	html{
		transition: background-color var(--transition-duration);
    	scroll-behavior: smooth;
	}
	html {
		font-family: "Chivo", system-ui, sans-serif;
		background: var(--background-color);
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}


</style>
