---
interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/x-icon" href="/icon/favicon.ico" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Chivo:wght@100..900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		
		/*Light Theme*/
		--background-color : #FFC2D1;
		--main-text-color : #000000;
		--secondary-text-color: #000000;
		--primary-btn-color : #FF6F91;
		--secondary-btn-color: #000000;
		--card-highlight-color : #FFB3C6;

		--transition-duration: 0.5s; 
	}
	:root.dark {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		/*Color scheme for Webstie*/

		/*Dark Theme*/
		--background-color : #0a0a0a;
		--main-text-color : #FAF3E0;
		--secondary-text-color: #E5E1C9;
		--secondary-btn-color: #FF6F91;
		--card-highlight-color : #1E1E1E;
	}
	
	h1, h2 ,ul, hr {
		color: var(--main-text-color);
	}
	p {
		color: var(--secondary-text-color);
	}

	/* for smooth transition*/
	html{
		transition: background-color var(--transition-duration);
	}
	html {
		font-family: "Chivo", system-ui, sans-serif;
		background: var(--background-color);
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}


</style>
