.container {
   width: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
}
.card-elements {
    width: 80%;
}
.tag-container{
    border-radius: 100px;
    border: 1px solid;
    padding: 0.2rem 0.8rem;
    position: absolute;
    background-color: #ffffff;
    z-index: 1;
    left: 12%;
    top: 3%;
}
.duration-container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.clockIcon {
    width: 1.5rem;
    height: 1.5rem;
}
.duration {
    font-size: 14px;
    margin: 0px;
}
.tag{
    margin: 0px;
    font-size: 15px;
    font-weight: 500;
    color: black;
}
.hairStyle {
    font-size: 20px;
    font-weight: 900;
    text-align: left;

}
.description {
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    height : 50px;
}
.btn-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price {
    font-size: 20px;
    font-weight: 700;
}
.original-price{
    text-decoration: line-through;
    text-decoration-color : red;
    text-decoration-thickness: 2.5px ;
    padding-right: 1rem;
    font-size: 18px;
}
.price-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 0.5rem;
}
.starting-at{
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 4px;
    /* color: #808080; */
}

/* @media screen and (max-width : 400px) {
    
} */