.booking-grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}
.booking-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 5rem;
    padding: 2.5rem 2rem 2.5rem 2rem;
    list-style-type: none;
    background-color: var(--card-highlight-color);
    border-radius: 20px;
    /* transition: padding 0.3s ease, border 0.3s ease, height 0.3s ease; */
    margin : auto;
    width: min-content;

}
.booking-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBar {
    display: flex;
    column-gap: 1rem;
    width: 100%;
    height: auto;
    justify-content: center;
}
.search-input {
    width: 250px;
    height: 35px;
}
.select-input{
    width : 80px;
}


@media screen and (max-width : 400px) {
    .booking-grid {
        padding: 1.5rem 1rem 1.5rem 1rem;

    }
    
}
@media screen and (max-width: 720px) {
    .booking-grid {
        grid-template-columns: 1fr;
    }
    .search-input{
        width: 150px;
        height: 35px;
    }
    .searchBar{
        width : 41px;
        
    }
}

@media screen and (min-width:721px) and (max-width:1030px) {
    .booking-grid {
        grid-template-columns: 1fr 1fr;
        column-gap: 0rem;
    } 
}