.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.733);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn  0.3s ease-in-out;
}

.modal-content {
    background: var(--modal-background-color);
    padding: 20px;
    border-radius: 8px;
    max-width: 550px;
    max-height: 500px;
    width: 90%;
    animation: slideIn 0.3s ease-in-out;
    position: relative;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
}

.modal-title-bar {
    width: auto;
    /* background-color: var(--primary-btn-color); */
    /* border-radius: 8px 8px 0px 0px; */
    border-bottom: 1px solid var(--primary-btn-color) ;
    /* position: relative; */
}
.modal-title-bar h1 {
    font-size: 20px;
}
.close-button {
    position: absolute;
    top: 4%;
    right: 2%;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

body.modal-open {
    overflow: hidden;
    /* position: fixed;
    width: 100%; */
}

/* Responsive styles */
@media (max-width: 768px) {
    .modal-content {
        max-width: 45%;
        min-width: 300px;
        /* max-height: 60vh; Adjust as needed */
        overflow-y: auto;
    }
}