---
import BookingGrid from "./ui/BookingGrid"


const BohoBraidsArr =[
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/BohoMedium-min.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/BohoLarge-min.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/BohoSmall-min.jpg",
];

const FrenchCurlsArr =[
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/FrenchCurlsMd-min.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/FrenchCurlsXs-min.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/FrenchCurlsSm-min.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/FrenchCurlsLg-min.jpg",
];

const KnotlessArr =[
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/KnotlessXs-min.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/KnotlessMedium-min.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/KnotlessLarge-min.jpg",
];

const LocsArr = [
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/locs_1-min.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/locs_2-min.jpg",
];

const Locs2Arr = [
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/locs_2-min.jpg",
];

const CornrowsArr = [
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/Cornrows_1-min.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/Cornrows_2-min.jpg",
];

const SenegaleseArr = [
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/SenegaleseTwists_1-min.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/SenegaleseTwists_2-min.jpg",
];

const PassionTwistArr = [
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/passionTwists_1-min.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/passionTwists_2-min.jpg"
];

const FulaniArr = [
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/fulani_braids_3-min.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/fulani_braids_2-min.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/fulani_braids_1-min.jpg",
];

const BoxBraidsArr = [
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/BoxBraids_1.jpg",
]

const initialData = [
    /* data format
        tag : "Hot",
        images : BohoBraidsArr,
        hairStyleName : "Boho Braids",
        description : "Simple braids to use for 1-2 months",
        duration : "5hrs",
        price : "50",
        salePrice : "20",
        onSale : true,
        hairLength : { '50' : 10, '52': 20, '54': 30, '60' : 40, '70': 50},
        hairSize : { 'Extra Small' : 10, 'Small': 20, 'Medium': 30, 'Large' : 40}   
    */
    {
        tag : "Ore's Choice",
        images : BohoBraidsArr,
        hairStyleName : "Boho Braids",
        description : "The girlies have chosen this as the style for the season.",
        duration : "4-8hrs",
        price : "70",
        hairLength : { 'Shoulder | 28' : 0, 'MidBack | 42': 20, 'LowerBack | 52': 40, 'Bum | 72': 80},
        hairSize : { 'Large' : 0, 'Medium': 40, 'SMedium': 60, 'Small': 80, 'Extra Small' : 120}
    },

    {
        tag : "Classic",
        images : KnotlessArr,
        hairStyleName : "Knotless Braids",
        description : "Perfect combo of style and convenience.",
        duration : "4-8hrs",
        price : "60",
        hairLength : { 'Shoulder | 28' : 0, 'MidBack | 42': 20, 'LowerBack | 52': 40, 'Bum | 72': 80},
        hairSize : { 'Large' : 0, 'Medium': 40, 'SMedium': 60, 'Small': 80, 'Extra Small' : 120}
    },
    {
        // tag : "On Sale",
        images : SenegaleseArr,
        hairStyleName : "Senegalese Twists",
        description : "When life gives you lemons give it a 'Twist'.",
        duration : "3-6hrs",
        price : "60",
        hairLength : { 'Shoulder | 28' : 0, 'MidBack | 42': 20, 'LowerBack | 52': 40, 'Bum | 72': 80},
        hairSize : { 'Large' : 0, 'Medium': 40, 'SMedium': 60, 'Small': 80, 'Extra Small' : 120}
    },

    {
        images : FrenchCurlsArr,
        hairStyleName : "French Curls",
        description : "Curly hair, Fierce attitude.",
        duration : "5-10hrs",
        price : "80",
        hairLength : { 'Shoulder | 12' : 0, 'MidBack | 16': 20, 'LowerBack | 22': 40, },
        hairSize : { 'Large' : 0, 'Medium': 40, 'SMedium': 60, 'Small': 80, 'Extra Small' : 120}
    },

    {
        tag : "Fab",
        images : LocsArr,
        hairStyleName : "Soft/Butterfly Locs",
        description : "Life is too short to have ordinary hair.",
        duration : "3-6hrs",
        price : "100",
        hairLength : { 'Length of the Extension | set' : 0,},
        hairSize : { 'Large': 0, 'Medium': 40, 'Small' : 80}
    },
    {
        // tag : "On Sale",
        images : PassionTwistArr,
        hairStyleName : "Passion/Kinky Twists",
        description : "Slay in style... Yes YOU!",
        duration : "3-6hrs",
        price : "60",
        hairLength : { 'Shoulder | 28' : 0, 'MidBack | 42': 20, 'LowerBack | 52': 40, 'Bum | 72': 80},
        hairSize : { 'Large' : 0, 'Medium': 40, 'SMedium': 60, 'Small': 80, 'Extra Small' : 120}
    },
    {
        // tag : "On Sale",
        images : FulaniArr,
        hairStyleName : "Fulani Braids",
        description : "Its your style, its your rules!",
        duration : "3-6hrs",
        price : "60",
        hairLength : { 'Shoulder | 28' : 0, 'MidBack | 42': 20, 'LowerBack | 52': 40, 'Bum | 72': 80},
        hairSize : { 'Large' : 0, 'Medium': 40, 'SMedium': 60, 'Small': 80, 'Extra Small' : 120}
    },

    {
        // tag : "On Sale",
        images : CornrowsArr,
        hairStyleName : "Cornrows",
        description : "Love is in the 'Hair'.",
        duration : "1-4hrs",
        price : "30",
        hairLength : { 'Natural' : 0, 'With Extension': 50,},
        hairSize : { 'Large' : 0, 'Medium': 20, 'Small': 40,}
    },
    {
        // tag : "On Sale",
        images : Locs2Arr,
        hairStyleName : "Locs Retwist",
        description : "Get your maintenance here",
        duration : "3hrs",
        price : "80",
        hairLength : { 'One Size' : 0,},
        hairSize : { 'Large (30-50 locs)' : 0, 'Medium (50-80 locs)': 20, 'Small (80+ locs)': 40,}
    },
    {
        // tag : "Classic",
        images : BoxBraidsArr,
        hairStyleName : "Box Braids",
        description : "Perfect combo of style and convenience.",
        duration : "4-8hrs",
        price : "50",
        hairLength : { 'Shoulder | 28' : 0, 'MidBack | 42': 20, 'LowerBack | 52': 40, 'Bum | 72': 80},
        hairSize : { 'Large' : 0, 'Medium': 40, 'SMedium': 60, 'Small': 80, 'Extra Small' : 120}
    },

]
---

<section id="Booking">
    <h1>Book Your Next Appointment</h1>
    <BookingGrid client:idle items={initialData}/>

</section>

<style>
    section {
        padding-bottom: 10rem;
        margin: auto;
        width: 100%;
        max-width: 1200px;
        align-items: center;
    }
    h1 {
        text-align: center;
        font-weight: 900;
        font-size: clamp(24px, 5vw, 40px);
    }

    @media screen and (max-width:600px) {
        h1 {
            font-size: clamp(30px, 7vw, 35px);
        }
    }

</style>
