---
import BookingGrid from "./ui/BookingGrid"
const ImgArr = [
    "https://img.freepik.com/free-vector/hot-dog-street-snack-isolated-transparent_107791-18353.jpg?t=st=1718898461~exp=1718902061~hmac=c9d39a5399875c4eb3b1011a80922f3e71d2bfac3e6899a6e209e257d65c12b8&w=996",
    "https://img.freepik.com/free-photo/photo-delicious-hamburger-isolated-white-background_125540-3378.jpg?w=1060&t=st=1718898841~exp=1718899441~hmac=9ceb4d02f008ba45e253acf66bc1d73f59b32cc44dd2ed5ae2796cce5fe6fb61",
    "https://img.freepik.com/free-psd/arm-chair-isolated-transparent-background_191095-12827.jpg?t=st=1718898866~exp=1718902466~hmac=1c1add9a5735fca4a705a41bc36b1cae85e57e24f77a5a379a6ded98ffa47102&w=740",
    "https://img.freepik.com/free-psd/sun-hat-png-isolated-transparent-background_191095-9871.jpg?size=626&ext=jpg&ga=GA1.1.230745313.1718898785&semt=sph",
    "https://img.freepik.com/free-psd/poinsettia-flower-png-isolated-transparent-background_191095-12083.jpg?t=st=1718898887~exp=1718902487~hmac=711b1d2920f79aecd7104d5bc8fba0252e777661a05cd41f44cb95c1254b51bc&w=740",
];

const BohoBraidsArr =[
"https://edwardakaposfirstawsbucket.s3.amazonaws.com/CarouselImages/BohoLarge.jpg",
"https://edwardakaposfirstawsbucket.s3.amazonaws.com/CarouselImages/BohoMedium.jpg",
"https://edwardakaposfirstawsbucket.s3.amazonaws.com/CarouselImages/BohoSmall.jpg",
];

const FrenchCurlsArr =[
"https://edwardakaposfirstawsbucket.s3.amazonaws.com/CarouselImages/FrenchCurlsLg.jpg",
"https://edwardakaposfirstawsbucket.s3.amazonaws.com/CarouselImages/FrenchCurlsMd.jpg",
"https://edwardakaposfirstawsbucket.s3.amazonaws.com/CarouselImages/FrenchCurlsSm.jpg",
"https://edwardakaposfirstawsbucket.s3.amazonaws.com/CarouselImages/FrenchCurlsXs.jpg",
];
const KnotlessArr =[
"https://edwardakaposfirstawsbucket.s3.amazonaws.com/CarouselImages/KnotlessLarge.jpg",
"https://edwardakaposfirstawsbucket.s3.amazonaws.com/CarouselImages/KnotlessMedium.jpg",
"https://edwardakaposfirstawsbucket.s3.amazonaws.com/CarouselImages/KnotlessXs.jpg",
];

const initialData = [
    {
        tag : "Hot",
        images : BohoBraidsArr,
        hairStyleName : "Boho Braids",
        description : "Simple braids to use for 1-2 months",
        duration : "5hrs",
        price : "50",
        salePrice : "20",
        onSale : true,
        hairLength : { '50' : 10, '52': 20, '54': 30, '60' : 40, '70': 50},
        hairSize : { 'Extra Small' : 10, 'Small': 20, 'Medium': 30, 'Large' : 40}
    },
    {
        tag : "Ore's Choice",
        images : FrenchCurlsArr,
        hairStyleName : "French Curls",
        description : "for an angel",
        duration : "2hrs",
        price : "80",
        hairLength : { '50' : 20, '52': 30, '54': 40, '60' : 50, '70':60},
        hairSize : { 'Extra Small' : 20, 'Small': 30, 'Medium': 40, 'Large' : 50}
    },
    {
        tag : "On Sale",
        images : KnotlessArr,
        hairStyleName : "Knotless",
        description : "classic and timeless",
        duration : "3hrs",
        price : "50",
        hairLength : { '50' : 10, '52': 20, '54': 30, '60' : 40, '70': 50},
        hairSize : { 'Extra Small' : 10, 'Small': 20, 'Medium': 30, 'Large' : 40}
    },

]
---

<section id="Booking">
    <h1>Book Your Next Appointment</h1>
    <BookingGrid client:load items={initialData}/>

</section>

<style>
    section {
        padding-bottom: 10rem;
        margin: auto;
        width: 100%;
        max-width: 1200px;
        align-items: center;
    }
    h1 {
        text-align: center;
        font-weight: 900;
        font-size: clamp(24px, 5vw, 40px);
    }

    @media screen and (max-width:600px) {
        h1 {
            font-size: clamp(30px, 7vw, 35px);
        }
    }

</style>
