---
import BookingGrid from "./ui/BookingGrid"


const BohoBraidsArr =[
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/BohoLarge-min.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/BohoMedium-min.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/BohoSmall-min.jpg",
];

const FrenchCurlsArr =[
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/FrenchCurlsXs-min.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/FrenchCurlsSm-min.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/FrenchCurlsMd-min.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/FrenchCurlsLg-min.jpg",
];

const KnotlessArr =[
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/KnotlessXs-min.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/KnotlessMedium-min.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/KnotlessLarge-min.jpg",
];

const LocsArr = [
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/locs_1-min.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/locs_2-min.jpg",
];

const Locs2Arr = [
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/locs_2-min.jpg",
];

const CornrowsArr = [
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/Cornrows_1-min.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/Cornrows_2-min.jpg",
];

const SenegaleseArr = [
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/SenegaleseTwists_2-min.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/SenegaleseTwists_1-min.jpg"
];

const PassionTwistArr = [
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/passionTwists_1-min.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/passionTwists_2-min.jpg"
];

const FulaniArr = [
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/fulani_braids_3-min.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/fulani_braids_2-min.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/ServiceOfferingImages/fulani_braids_1-min.jpg",
];

const initialData = [
    /* data format
        tag : "Hot",
        images : BohoBraidsArr,
        hairStyleName : "Boho Braids",
        description : "Simple braids to use for 1-2 months",
        duration : "5hrs",
        price : "50",
        salePrice : "20",
        onSale : true,
        hairLength : { '50' : 10, '52': 20, '54': 30, '60' : 40, '70': 50},
        hairSize : { 'Extra Small' : 10, 'Small': 20, 'Medium': 30, 'Large' : 40}   
    */
    {
        // tag : "Hot",
        images : BohoBraidsArr,
        hairStyleName : "Boho Braids",
        description : "Simple braids to use for 1-2 months",
        duration : "4-8hrs",
        price : "120",
        hairLength : { '50' : 0, '52': 20, '54': 30, '60' : 40, '70': 50},
        hairSize : { 'Large' : 0, 'Medium': 60, 'Small': 80, 'Extra Small' : 120}
    },
    {
        // tag : "Ore's Choice",
        images : FrenchCurlsArr,
        hairStyleName : "French Curls",
        description : "for an angel",
        duration : "4-8hrs",
        price : "120",
        hairLength : { '50' : 20, '52': 30, '54': 40, '60' : 50, '70':60},
        hairSize : { 'Large' : 0, 'Medium': 40, 'Small': 80, 'Extra Small' : 120}
    },
    {
        // tag : "On Sale",
        images : KnotlessArr,
        hairStyleName : "Knotless",
        description : "classic and timeless",
        duration : "4-8hrs",
        price : "100",
        hairLength : { '50' : 10, '52': 20, '54': 30, '60' : 40, '70': 50},
        hairSize : { 'Large' : 0, 'Medium': 40, 'Small': 80, 'Extra Small' : 120}
    },
    {
        // tag : "On Sale",
        images : CornrowsArr,
        hairStyleName : "Cornrows",
        description : "classic and timeless",
        duration : "1-3hrs",
        price : "50",
        hairLength : { '50' : 10, '52': 20, '54': 30, '60' : 40, '70': 50},
        hairSize : { 'Large' : 0, 'Medium': 40, 'Small': 80, 'Extra Small' : 120}
    },
    {
        // tag : "On Sale",
        images : SenegaleseArr,
        hairStyleName : "Senegalese Twists",
        description : "classic and timeless",
        duration : "3-6hrs",
        price : "50",
        hairLength : { '50' : 10, '52': 20, '54': 30, '60' : 40, '70': 50},
        hairSize : { 'Extra Small' : 10, 'Small': 20, 'Medium': 30, 'Large' : 40}
    },
    {
        // tag : "On Sale",
        images : PassionTwistArr,
        hairStyleName : "Passion Twists",
        description : "classic and timeless",
        duration : "3-6hrs",
        price : "50",
        hairLength : { '50' : 10, '52': 20, '54': 30, '60' : 40, '70': 50},
        hairSize : { 'Extra Small' : 10, 'Small': 20, 'Medium': 30, 'Large' : 40}
    },
    {
        // tag : "On Sale",
        images : FulaniArr,
        hairStyleName : "Fulani Braids",
        description : "classic and timeless",
        duration : "3-6hrs",
        price : "50",
        hairLength : { '50' : 10, '52': 20, '54': 30, '60' : 40, '70': 50},
        hairSize : { 'Extra Small' : 10, 'Small': 20, 'Medium': 30, 'Large' : 40}
    },
    {
        // tag : "On Sale",
        images : LocsArr,
        hairStyleName : "Soft/Butterfly Locs",
        description : "classic and timeless",
        duration : "3hrs",
        price : "50",
        hairLength : { '50' : 10, '52': 20, '54': 30, '60' : 40, '70': 50},
        hairSize : { 'Extra Small' : 10, 'Small': 20, 'Medium': 30, 'Large' : 40}
    },
    {
        // tag : "On Sale",
        images : Locs2Arr,
        hairStyleName : "Locs Retwist",
        description : "classic and timeless",
        duration : "3hrs",
        price : "50",
        hairLength : { '50' : 10, '52': 20, '54': 30, '60' : 40, '70': 50},
        hairSize : { 'Extra Small' : 10, 'Small': 20, 'Medium': 30, 'Large' : 40}
    },

]
---

<section id="Booking">
    <h1>Book Your Next Appointment</h1>
    <BookingGrid client:idle items={initialData}/>

</section>

<style>
    section {
        padding-bottom: 10rem;
        margin: auto;
        width: 100%;
        max-width: 1200px;
        align-items: center;
    }
    h1 {
        text-align: center;
        font-weight: 900;
        font-size: clamp(24px, 5vw, 40px);
    }

    @media screen and (max-width:600px) {
        h1 {
            font-size: clamp(30px, 7vw, 35px);
        }
    }

</style>
