---
import ContactIcon from "./ui/ContactIcon.astro"
---

<section id="Contact" class="section">
        <div class="content">
            <h1> Have Any Questions?</h1>
            <picture>
                <source srcset="/ContactImageSmall.png" media="(max-width: 600px)">
                <img src="/ContactImageBig.png" alt="Contact Image" class="contact-image">
            </picture>
            <h2> Contact Ore</h2>
            <p>Have questions about booking or want to discuss a unique idea? <br id="mobileLineBreak"/> I'm here to help you achieve your dream style. Let's chat and make everything perfect before you book!</p>
            <div class="icons">
                <ContactIcon icon="email" string="braidsvilla@gmail.com"/>
                <ContactIcon icon="instagram" string="braids.villa"/>
                <ContactIcon icon="phone" string="(437) 235-4962"/>
            </div>
        </div>
</section>

<style> 

    @media screen and (max-width : 644px){
        div {
        display: flex;
        flex-direction: column;
        width: 90%;
        max-width: 450px ;
        margin: auto;
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        background-color: var(--card-highlight-color);
        border-radius: 10px;
        padding: 1rem 0rem;
    }
        h1 {
            font-size: clamp(26px, 5.5vw, 30px);
            font-weight: 900;
        }
        h2 {
            font-size: clamp(22px, 3vw, 25px);
            font-weight: 400;
        }
        p {
            text-align: left;
            line-height: 1.8;
            font-size: clamp(16px, 3vw, 18px);
            font-weight: 300;
            max-width: 350px;
            width: 80%;
            margin-bottom: 2rem;
        }
        .contact-image {
                width: 120px;
                border-radius: 100%;
                padding-top: 10px;
                object-fit: cover;
                border: 1px solid;
            }
        .icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 90%;
        }
    }

    @media screen and (min-width : 645px) and (max-width : 1023px) {

        img {
            position: absolute;
            top: -40px; /* Adjust this value to control how much the image peeks over */
            right: 0;
            z-index: 1;
        }
        .contact-image {
            height: 360px;
        }
        section {
            position: relative;
            display: flex;
            width: 90%;
            margin: auto;
            max-width: 600px;
            min-width: 600px;
            height: 317px;
            align-items: flex-end;
            background-color: var(--card-highlight-color);
            border-radius: 10px;
        }
        h1 {
            font-size: clamp(20px,3.5vw,25px);
            font-weight: 900;
            margin: auto;

        }
        h2 {
            font-size: 20px;
            font-weight: 900;
            margin-bottom: 0;
            margin-top: 0.5rem;
            
        }
        p {
            font-size: 14px;
            font-weight: 300;
            width: 85%;
            margin-bottom: 0;
            margin-top: 0.5rem;
        }
        .content {
            width: 55%;
            padding: 1rem 0rem 1rem 2rem;
        }
        .icons {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 80%;
            justify-items: stretch;
            padding-top: 0.5rem;
        }
        #mobileLineBreak {
            display: none;
        }
        
    }
    @media screen and (min-width : 1024px) {
        img {
            position: absolute;
            top: -50px; /* Adjust this value to control how much the image peeks over */
            right: 0;
            z-index: 1;
        }
        .contact-image {
            height: 455px;
        }
        section {
            position: relative;
            display: flex;
            width: 90%;
            margin: auto;
            max-width: 950px;
            height: 400px;
            align-items: flex-end;
            background-color: var(--card-highlight-color);
            border-radius: 10px;
        }
        h1 {
            font-size: clamp(20px,4vw,38px);
            font-weight: 900;
            margin: auto;

        }
        h2 {
            font-size: 24px;
            font-weight: 900;
            
        }
        p {
            font-size: 18px;
            font-weight: 300;
            width: 85%;
        }
        .content {
            width: 55%;
            padding-bottom: 1rem;
            padding-left: 3rem;
        }
        .icons {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 80%;
            justify-items: stretch;
            padding-top: 0.5rem;
        }
        #mobileLineBreak {
            display: none;
        }

        }
</style>