---

---

<footer class="footer">
    <div id="footer-top">
        <p>Designed by <a href="https://edwardakapo.netlify.app/" target="_blank">Edward Akapo</a></p>
        <h1>BRAIDS <br/> VILLA</h1>
    </div>
    <hr>
    <div id="footer-bot">
        <p id="copywrite">&copy; 2024 Braids Villa. All rights reserved.</p>
        <p> Privacy Policy</p>
        <p> Terms of Service</p>
        <p> Cookies Settings</p>
    </div>
</footer>

<style>
    .footer {
        padding: 0rem 1rem;
        max-width: 1440px;
        margin: auto;
    }
    #footer-top{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    #footer-top p {
        align-self: flex-end;
        font-size: 12px;
    }
    #footer-top h1 {
        --logo-size: 28px;
        font-size: var(--logo-size);
        text-align: center;
        line-height: 40px;
        letter-spacing: calc(var(--logo-size) * 0.05);
        font-family: "Abril Fatface", serif;
        font-weight: 400;
        font-style: normal;
    }
    #footer-bot {
        display: flex;
        align-items: center;
        gap: 2rem;
        justify-content: center;
        font-size: 14px;
    }

    #copywrite {
        font-weight: 700;
    }

</style>