---
import NightModeButton from "./NightModeButton.astro"
import HeaderSocialLinks from "./HeaderSocialLinks.astro"
---

<header>
    <nav class="header">

        <h1 class="Text-logo">BRAIDS<br/>VILLA</h1>

        <div class="header-shortcuts">
            <p> Policies</p>
            <p> Locations</p>
            <p> Contact</p>
        </div>

        <div class="header-interactives">
            <div id="nightModeBtn">
                <NightModeButton client:load/>
            </div>
            <div id="other-interactives">
                <HeaderSocialLinks social="instagram" link="https://www.instagram.com/braids.villa/"/>
                <HeaderSocialLinks social="tiktok" link="https://www.tiktok.com/@ore.db"/>       
                <button id="headerBookBtn">BOOK APPOINTMENT</button>
            </div>
        </div>
        
    </nav>
</header>

<style>
    .Text-logo {
        --logo-size: 28px;
        font-size: var(--logo-size);
        text-align: center;
        line-height: 40px;
        letter-spacing: calc(var(--logo-size) * 0.05);
        font-family: "Abril Fatface", serif;
        font-weight: 400;
        font-style: normal;
        justify-self: start;
    }
    p {
        --text-size: 18px;
        font-size: var(--text-size);
        line-height: 24px;
        letter-spacing: calc(var(--text-size) * 0.07);
        font-family: "Chivo", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-optical-sizing: auto;
    }
    .header {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        justify-items: center;
        align-items: center;
        margin : auto;
		padding: 0rem 1rem;
		max-width: 1440px;

    }
    .header-shortcuts {
        display: flex;
        width: 60%;
        justify-content: space-between;
        
    }
    .header-interactives {
        display: flex;
        gap: 3rem;
        justify-self: end;
    }
    #other-interactives {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        
    }
    #headerBookBtn {
        width: 160px;
        height: 45px;
        margin-left: 0.5rem;
        background: none;
        color: var(--secondary-btn-color);
        border: 1px solid;
        /*text*/
        --text-size: 12px;
        font-family: "Chivo", sans-serif;
        font-size: var(--text-size);
        line-height: 24px;
        font-weight: 400;
        font-style: normal;
        font-optical-sizing: auto;
    }

</style>