---
import NightModeButton from "./ui/NightModeButton.astro"
import HeaderSocialLinks from "./ui/HeaderSocialLinks.astro"
import DropDownMenu from "./ui/DropDownMenu.astro"
---

<header>
    <nav class="header">
            <h1 class="Text-logo"><a href="https://braidsvilla.com/" id="logo-link">BRAIDS<br/> <span class="text-logo-small">VILLA</span></a></h1>

        <div class="header-shortcuts">
            <a href="#Policies"><p> Policies</p></a>
            <a href="#Location"><p> Locations</p></a>
            <a href="#Contact"><p> Contact</p></a>
        </div>

        <div class="header-interactives">
            <div id="nightModeBtn">
                <NightModeButton/>
            </div>
            <div id="other-interactives">
                <HeaderSocialLinks social="instagram" link="https://www.instagram.com/braids.villa/"/>
                <HeaderSocialLinks social="tiktok" link="https://www.tiktok.com/@ore.db"/>
                <a href="#Booking">
                    <button id="headerBookBtn">BOOK APPOINTMENT</button>
                </a>     
            </div>
            <div class="dropDownMenuContainer">
                <DropDownMenu />
            </div>
        </div>
        
    </nav>
</header>

<style>
    .Text-logo {
        --logo-size: 28px;
        font-size: var(--logo-size);
        text-align: center;
        line-height: 30px;
        letter-spacing: calc(var(--logo-size) * 0.05);
        font-family: "Abril Fatface", serif;
        font-weight: 400;
        font-style: normal;
        justify-self: start;
    }
    .text-logo-small {
        font-size: 27px;
    }
    p {
        --text-size: 18px;
        font-size: var(--text-size);
        line-height: 24px;
        letter-spacing: calc(var(--text-size) * 0.07);
        font-family: "Chivo", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-optical-sizing: auto;
    }
    .header-shortcuts {
        display: flex;
        width: 60%;
        justify-content: space-between;
        
    }
    a {    
        text-decoration: none;
        color: inherit;
    }
    div p:hover {
        color : #f72a5a;

    }
    #logo-link:active {
        text-decoration: none;
        color: inherit;
    }
    #logo-link:visited {
        text-decoration: none;
        color: inherit;
    }
    #logo-link:hover {
        color : #f72a5a;
    }
    #other-interactives {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        
    }
    #headerBookBtn {
        width: 160px;
        height: 45px;
        margin-left: 0.5rem;
        background: none;
        color: var(--secondary-btn-color);
        border: 1px solid;
        /*text*/
        --text-size: 12px;
        font-family: "Chivo", sans-serif;
        font-size: var(--text-size);
        line-height: 24px;
        font-weight: 400;
        font-style: normal;
        font-optical-sizing: auto;
    }
    #nightModeBtn:hover {
        cursor: pointer;
    }
    #headerBookBtn:hover {
        color: var(--hover-color); /* Change to your desired hover text color */
        border-color: var(--hover-color); /* Change to your desired hover border color */
        cursor: pointer;
    }

    /*Responsive styling for Mobile Phones*/
    @media screen and (max-width: 600px){

        .header {
        display: grid;
        grid-template-columns: 3fr 1fr;
        align-items: center;
		padding: 0rem 0rem 0rem 0rem;
        margin-bottom: 1.5rem;
		max-width: 600px;
        min-width: 270px;
        }
        .header-shortcuts {
            display: none;
        }
        #other-interactives{
            display: none;
        }
        .header-interactives {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        justify-items: end;
        }
        .Text-logo {
            line-height: 25px;
            --logo-size : 25px;
            margin: 10px 0px;
        }
        .text-logo-small {
        font-size: 24px;
    }
    }

    @media screen and (min-width : 601px) and (max-width: 860px) {
        .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
		padding: 0rem 1.5rem;
		max-width: 980px;
        min-width: 520px;
        }
        .header-shortcuts {
            display: none;
        }
        #other-interactives{
            display: none;
        }
        .header-interactives {
        display: flex;
        gap : 2rem;
        justify-self: end;
        }
    }
    /* Fixing sizing on medium - large tablets */
        @media screen and (min-width: 861px) and (max-width: 1200px) {
            .header {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            justify-items: center;
            align-items: center;
            margin : auto;
            padding: 0rem 1rem;
            max-width: 1200px;

        }
            .header-interactives {
                display: flex;
                gap: 1.5rem;
                justify-self: end;
            }
            .dropDownMenuContainer {
                display: none;
            }
            .Text-logo {
                line-height: 25px;
                --logo-size : 23px;
            }
            .text-logo-small {
                font-size: 22px;
            }
            p {
                --text-size : 14px;
            }
            #headerBookBtn {
            width: 120px;
            height: 35px;
            margin-left: 0.5rem;
            background: none;
            color: var(--secondary-btn-color);
            border: 1px solid;
            /*text*/
            --text-size: 9px;
            font-family: "Chivo", sans-serif;
            font-size: var(--text-size);
            line-height: 24px;
            font-weight: 400;
            font-style: normal;
            font-optical-sizing: auto;
        }
    }

    @media screen and (min-width: 1201px) {
        .header {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        justify-items: center;
        align-items: center;
        margin : auto;
		padding: 0rem 1rem;
		max-width: 1440px;

    }
        .header-interactives {
            display: flex;
            gap: 1.5rem;
            justify-self: end;
        }
        .dropDownMenuContainer {
            display: none;
        }
    }

</style>