---

---

<section id="heroSection">
    <div class="hero-content"> 
        <!-- <div class="blur-background"></div> -->
        <h1 class="largeHero">
            <div class="arrow-illustration-wrapper">
                Elevate
                <img src="/arrow.svg" class="arrow-illustration">
            </div> 
            Your Style <br/> With Our 
            <div class="underline-illustration-wrapper">
                Affordable
                <img src="/underline.svg" class="underline-illustration">
            </div> 
            <div class="stars-illustration-wrapper">
                Luxury
                <img src="/stars.svg" class="stars-illustration">
            </div>
            <br/>  Braiding Service
        </h1>
        <h2 class="largeHero">
            Plenty Of Braiding Experience To Make You Shine! <br/> Giving You A Luxurious Experience Leaving You Feeling Gorgeous And Confident.
        </h2>

        <h1 class="mobileHero">
            <div class="mobile-gradient">
                Elevate    
            
            Your Style </div><br/> With Our <br>             
            <div class="underline-illustration-wrapper">
                Affordable
                <img src="/underline.svg" class="underline-illustration">
            </div>              
            <div class="stars-illustration-wrapper">
                Luxury
                <img src="/stars.svg" class="stars-illustration">
            </div>  <br/>  Braiding Service
        </h1>
        <h2 class="mobileHero">
            Plenty Of Braiding Experience To Make You Feel Gorgeous!
        </h2>
        <div>
            <a href="#Booking">
                <button class="mobileBtn"> Book Appointment Now!</button>
                <button class="biggerBtn"> Book An Appointment Now!</button>
            </a>
            <p>Please read our <a href="#Policies"> Policy</a> and <a href="#Location"> Location </a> info before booking</p>
        </div> 
    </div>
</section>


<style>
    section .hero-content{
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2rem;
        padding-bottom: 5rem;
    }
    h1 {
       font-size: var(--text-size);
       font-weight: 900;
       letter-spacing: calc(var(--text-size) * 0.05);
       margin-bottom: -1rem;

    }
    .blur-background {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%);
        width: 80%;
        height: 70%;
        background: var(--background-blur-color);
        /* background: #000000; */
        filter: blur(100px); /* Adjust the blur radius as needed */
        z-index: -1; /* Ensure the blur background is behind the text */
        border-radius: 100%;

    }

    .hero-content {
        position: relative; /* Ensure the content is the positioning context for text */
        z-index: 1; /* Ensure the text is above the blur background */
    }
    .underline-illustration-wrapper {
        display: inline-block;
        position: relative;
    }
    .underline-illustration {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .arrow-illustration-wrapper {
        display: inline-block;
        position: relative;
    }
    .arrow-illustration {
        position: absolute;
        bottom: 15%;
        right: 100%;
        padding-right: 2rem;
    }
    .stars-illustration-wrapper {
        display: inline-block;
        position: relative;
    }
    .stars-illustration {
        position: absolute;
        bottom: 30%;
        left: 85%;
        width: clamp(40px,6vw,70px);
    }
    .mobile-gradient {
    display: inline;
    background: linear-gradient(90deg, #FF547E, #FF00E5, #FF547E); /* Create a repeating gradient */
    background-size: 200% 200%; /* Double the size of the background to allow for smooth animation */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 3s ease infinite;
    }

    @keyframes gradient-animation {
        0% {
            background-position: 0% 50%; /* Start position */
        }
        50% {
            background-position: 100% 50%; /* Midway position */
        }
        100% {
            background-position: 0% 50%; /* End position */
        }
    }
    h2 {
       font-size: var(--text-size);
       letter-spacing: calc(var(--text-size) * 0.05);
       font-weight: 400;
    }
    button:hover {
        background-color: #ff7698bd;
        cursor: pointer;
    }

    a {
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }

    /* Mobile 380px -> 600px */
    @media screen and (max-width: 600px) {
        section {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1.5rem;
        /* padding-bottom: 1rem; */
        }
        .blur-background {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%);
        width: 100%;
        height: 80%;
        background: var(--background-blur-color);
        /* background: #000000; */
        filter: blur(100px); /* Adjust the blur radius as needed */
        z-index: -1; /* Ensure the blur background is behind the text */
        border-radius: 100%;
        }
        .largeHero {
            display: none;
        }
        h1, h2 {
            text-align: left; /* Keep text left-aligned */
            width: 100%; /* Ensure consistent width */
            max-width: 450px; /* Set a max-width */
        }
        h1 {
            --text-size : clamp(32px,9vw,45px);
            line-height: 1.3;
        }
        h2 {
            --text-size : clamp(20px, 4.5vw , 24px);
            line-height: 1.6;
        }
        button {
        width: clamp(210px, 50vw , 260px);
        height: clamp(40px, 12vw, 50px);
        font-family: "Chivo", sans-serif;
        font-size: 15px;
        font-weight: 500;
        line-height: 30px;
        background-color: #FF7698;
        border-radius: 10px;
        border: none;
        
        }

        p {
            font-size: clamp(10px, 1.8vw, 14px);
            font-weight: 200;
        }
        .biggerBtn {
            display: none;
        }
        .stars-illustration {
        bottom: 40%;
        }
		
	}
	/* Tablet -> Desktop Layout 601-> 1440px max */
       @media screen and (min-width: 601px) {
        .mobileHero {
            display: none;
        }
        h1 {
            --text-size : clamp(35px, 5.5vw ,65px);
            line-height: 1.25;
        }
        h2 {
            --text-size : clamp(13px, 1.5vw , 19px);
            line-height: 1.9;
            width: 90%;
        }
        button {
            width: clamp(260px, 40vw , 450px);
            height: clamp(50px, 7vw, 70px);
            font-family: "Chivo", sans-serif;
            font-size: clamp(15px, 2vw, 22px);
            font-weight: 500;
            line-height: 1.2;
            background-color: #FF7698;
            border: none;
        }

        p {
            font-size: clamp(8px, 1.2vw, 12px);
            font-weight: 200;
        }
        
        .mobileBtn {
            display: none;
        }
		
	    }
    @media screen and (min-width : 980px) {
        section {
            row-gap: 2rem;
        }
    }
	
</style>

