---

---

<section id="heroSection">
    <h1>
        Elevate Your Style <br/> With Our Affordable Luxury  <br/>  Braiding Service
    </h1>
    <h2>
        Plenty Of Braiding Experience To Make You Shine! <br/> Giving You A Luxurious Experience Leaving You Feeling Gorgeous And Confident.
    </h2>
    <div>
        <button class="mobileBtn"> Book Appointment Now!</button>
        <button class="biggerBtn"> Book An Appointment Now!</button>
        <p>Please read our <a href=""> Policy</a> and <a href=""> Location </a> info before booking</p>
    </div>
</section>


<style>
    section {
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2rem;
        padding-bottom: 5rem;
    }
    h1 {
       font-size: var(--text-size);
       font-weight: 900;
       letter-spacing: calc(var(--text-size) * 0.05);
       margin-bottom: -1rem;

    }

    h2 {
       font-size: var(--text-size);
       letter-spacing: calc(var(--text-size) * 0.10);
       font-weight: 400;
    }

    /* Mobile 380px -> 600px */
    @media screen and (max-width: 600px) {
        h1 {
            --text-size : 6vw;
            line-height: 1.4;
        }
        h2 {
            --text-size : clamp(0.6rem, 3vw , 14px);
            line-height: 1.8;
            max-width: 400px;
        }
        button {
        width: clamp(210px, 50vw , 260px);
        height: clamp(40px, 12vw, 50px);
        font-family: "Chivo", sans-serif;
        font-size: 13px;
        font-weight: 500;
        line-height: 30px;
        background-color: #FF7698;
        border: none;
        }

        p {
            font-size: clamp(8px, 1.8vw, 10px);
            font-weight: 200;
        }
        .biggerBtn {
            display: none;
        }
		
	}
	/* Tablet -> Desktop Layout 601-> 1440px max */
       @media screen and (min-width: 601px) {
        h1 {
            --text-size : clamp(35px, 5.5vw ,65px);
            line-height: 1.25;
        }
        h2 {
            --text-size : clamp(13px, 1.5vw , 19px);
            line-height: 1.9;
            width: 90%;
        }
        button {
            width: clamp(260px, 40vw , 450px);
            height: clamp(50px, 7vw, 70px);
            font-family: "Chivo", sans-serif;
            font-size: clamp(15px, 2vw, 22px);
            font-weight: 500;
            line-height: 1.2;
            background-color: #FF7698;
            border: none;
        }

        p {
            font-size: clamp(8px, 1.2vw, 12px);
            font-weight: 200;
        }
        
        .mobileBtn {
            display: none;
        }
		
	    }
    @media screen and (min-width : 980px) {
        section {
            row-gap: 2rem;
        }
    }
	
</style>

