---

---

<section id="Location">
    <div>
        <h1> Location and Hours </h1>
        <p>
            Mainly Serving Hamilton, Guelph and Surrounding areas. <br>Available for home service for extra charges based on location, you can <br><a href=""> Contact Me </a> for more information.
        </p>

    </div>
        <p>
            Monday &rarr; Sunday   9:30am - 7:30pm
        </p>
</section>

<style>
    section {
        width: 90%;
        margin: auto;
    }
    h1 {
        font-size: 40px;
        font-weight: 900;
        text-align: center;
        margin-bottom: -0.5rem;
        
    }
    p {
        text-align: center;
        margin-bottom: 2rem;
        font-size: 20px;

    }
</style>