---

---

<section id="Location">
    <div>
        <h1 class="header">Location and Hours</h1>
        <p class="mobileText">
            Mainly Serving Hamilton, Guelph and Surrounding areas. Available for home service for extra charges based on location, you can  <a href="#Contact"> Contact Me </a> for more information. <br> <br>Monday &rarr; Sunday 9:30am - 7:30pm
        </p>
        <p class="largeText">
            Mainly Serving Hamilton, Guelph and Surrounding areas.<br> Available for home service for extra charges based on location, you can <br> <a href="#Contact"> Contact Me </a> for more information. <br> <br>Monday &rarr; Sunday 9:30am - 7:30pm
        </p>
    </div>
    <!-- <p>Monday &rarr; Sunday 9:30am - 7:30pm</p> -->


</section>

<style>
    section {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        row-gap: 1rem;
    }
    a {
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
    @media screen and (max-width: 600px) {
        section {
            margin-bottom: 5rem;
        }
        h1 {
            font-size: clamp(30px, 7vw, 35px);
            font-weight: 900;
            text-align: center;
            margin: 0;
        }
        div {
            width: 90%; 
            max-width: 445px;
        }
        p {
            text-align: left;
            align-items: center;
            align-self: center;
            font-size: clamp(16px,4vw, 20px);
            margin-left: 1.5rem;
        }
        .largeText {
            display: none;
        }
    }
    @media screen and (min-width: 601px) {
        section {
            width: 90%;
            margin: auto;
            padding-bottom: 6rem;
        }
        h1 {
            font-size: clamp(24px, 5vw, 40px);
            font-weight: 900;
            text-align: center;
            margin-bottom: -0.5rem;
            padding-bottom: 1.5rem;
        }
        p {
            text-align: center;
            margin-bottom: 2rem;
            font-size: clamp(12px, 2vw, 20px);
        }
        .mobileText {
            display: none;
        }
    }
</style>
