---
import ScrollingCarousel from './ui/ScrollingCarousel'

const Images = [
"https://edwardakaposfirstawsbucket.s3.amazonaws.com/CarouselImages/BohoLarge.jpg",
"https://edwardakaposfirstawsbucket.s3.amazonaws.com/CarouselImages/BohoMedium.jpg",
"https://edwardakaposfirstawsbucket.s3.amazonaws.com/CarouselImages/BohoSmall.jpg",
"https://edwardakaposfirstawsbucket.s3.amazonaws.com/CarouselImages/FrenchCurlsLg.jpg",
"https://edwardakaposfirstawsbucket.s3.amazonaws.com/CarouselImages/FrenchCurlsMd.jpg",
"https://edwardakaposfirstawsbucket.s3.amazonaws.com/CarouselImages/FrenchCurlsSm.jpg",
"https://edwardakaposfirstawsbucket.s3.amazonaws.com/CarouselImages/FrenchCurlsXs.jpg",
"https://edwardakaposfirstawsbucket.s3.amazonaws.com/CarouselImages/KnotlessLarge.jpg",
"https://edwardakaposfirstawsbucket.s3.amazonaws.com/CarouselImages/KnotlessMedium.jpg",
"https://edwardakaposfirstawsbucket.s3.amazonaws.com/CarouselImages/KnotlessXs.jpg",
    ]
---

<section>
    <p id="season-text"></p>
    <ScrollingCarousel images={Images} client:idle/>
</section>

<style>
    section {
        margin-bottom: 10rem;
    }
    #season-text {
        font-family: "Abril Fatface", serif;
        font-size: 14px;
        margin: 0;
        padding-bottom:0.5rem;
    }
    @media screen and (min-width:800px) {
        section {
            padding-top: 1.5rem;
            
        }
        #season-text {
        font-size: 18px;
        } 
    }
</style>

<script>

function getSeason() {
        const month = new Date().getMonth();
        if (month >= 2 && month <= 4) {
            return "Spring's";
        } else if (month >= 5 && month <= 7) {
            return "Summer's";
        } else if (month >= 8 && month <= 10) {
            return "Fall's";
        } else {
            return "Winter's";
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        const seasonText = document.getElementById('season-text');
        seasonText.textContent = getSeason() + ' Must Have Styles';
    });
</script>