---

---

<section id="Policies">
    <h1> Policies</h1>
    <ul>
        <li> 
            <h2> Booking Procedure </h2> 
            <p> I'll review your booking request and confirm a date and time via text. Your deposit secures the appointment.</p>
        </li>
        <li> 
            <h2> Deposit</h2> 
            <p> A non refundable deposit of $25 is required to confirm your appointment.</p>
        </li>
        <li> 
            <h2> Extra Charges</h2>
            <p> Extensions can be provided for extra cost, this will be reflected in final price. Base Prices are for 52” length; Longer braids incur extra charges.</p>
        </li>
        <li> 
            <h2> Late Fee</h2>
            <p> 30-min grace period for lateness, please call if expecting delay. Beyond 30 mins there will be a late fee added. </p>
        </li>
        <li> 
            <h2> Payment</h2> 
            <p> The remaining balance will be due at the start of your appointment. Cash and E-transfer accepted.</p>
        </li>
        <li> 
            <h2> Hair Preparation</h2> 
            <p> Arrive with clean, product-free, blown-out hair for the best and fastest results.</p>
        </li>

    </ul>

</section>

<style>
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;    
    }

    h1 {
        text-align:  center;
        font-size: 40px;
        font-weight: 900;
    }

    h2 {
        font-size: 20px;
        font-weight: 900;
        margin-bottom: -0.5rem;
    }

    p {
       font-size: 16px; 
    }
</style>