---

---

<section id="Policies">
    <h1> Policies</h1>
    <ul>
        <li> 
            <h2>Booking Procedure</h2> 
            <p> I'll review your booking request and confirm a date and time via text. Your deposit secures the appointment.</p>
        </li>
        <li> 
            <h2> Deposit</h2> 
            <p> A non refundable deposit of $25 is required to confirm your appointment.</p>
        </li>
        <li> 
            <h2> Extra Charges</h2>
            <p> Extensions can be provided for extra cost, this will be reflected in final price. Base Prices are for 52” length; Longer braids incur extra charges.</p>
        </li>
        <li> 
            <h2> Late Fee</h2>
            <p> 30-min grace period for lateness, please call if expecting delay. Beyond 30 mins there will be a late fee added. </p>
        </li>
        <li> 
            <h2> Payment</h2> 
            <p> The remaining balance will be due at the start of your appointment. Cash and E-transfer accepted.</p>
        </li>
        <li> 
            <h2> Hair Preparation</h2> 
            <p> Arrive with clean, product-free, blown-out hair for the best and fastest results.</p>
        </li>

    </ul>

</section>

<style>
    section {
        width: 90%;
        margin: auto;
        padding-bottom: 5rem;
    }
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;   
    }

    h1 {
        text-align:  center;
        font-size: 40px;
        font-weight: 900;
    }

    h2 {
        font-size: 20px;
        font-weight: 900;
        margin-bottom: -0.5rem;
    }

    p {
       font-size: 16px; 
    }

    /* Phone 360 -> 600 */
    @media screen and (max-width : 600px){
        section {
            max-width: 380px;
        }
        h1 {
            font-size: clamp(19px, 6vw , 24px);
        }
        h2 {
            font-size: 14px;
        }
        p {
            font-size: 12px; 
        }
        ul {
            display: flex;
            flex-direction: column;
        }

    }

    /* sm to large Tablet 360 -> 600 */
    @media screen and (min-width : 601px) and (max-width : 1000px){
        section {
            width: 90%;
            
        }

        ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5rem;    
        }
        h1 {
            font-size: clamp(24px,5vw,40px);
            padding-bottom: 1rem;

        }
        h2 {
            font-size: clamp(19px,3vw,24px);
        }
        p {
            font-size:  clamp(13px,2vw,16px); 
        }

    }

    /* xlTablet to Desktop 1001px->1440 */
    @media screen and (min-width : 1001px){
        ul {
        column-gap: 4rem;
        row-gap: 2rem;    
        }
        h1 {
            font-size: clamp(24px,5vw,40px);
            padding-bottom: 1rem;

        }
        h2 {
            font-size: clamp(24px,3vw,26px);
        }
        p {
            font-size:  clamp(16px,2vw,19px); 
        }
        section{
            padding-bottom: 10rem;
            width: 95%;

        }
    }

</style>