---
import Layout from '../layouts/Layout.astro';
import Card from '../components/ui/Card.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Location from '../components/Location.astro';
import Policies from '../components/Policies.astro';
import ContactCard from '../components/ContactCard.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Braids Villa | Affordable Luxury Braiding Service">
	<Header/>
	<main>
		<HeroSection />
		<Location />
		<Policies />
		<ContactCard />
	</main>
	<Footer/>
</Layout>

<style>

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

		/* Mobile Phone Layout*/
		@media screen and (max-width: 600px) {
			main {
				font-size: 20px;
				line-height: 1.6;
				max-width : 600px;
				margin: auto;
			}
		
		}
		@media screen and (min-width: 601px) {

			main {
			margin: auto;
			padding: 1rem;
			width: 1000px;
			max-width: calc(100% - 2rem);
			color: white;
			font-size: 20px;
			line-height: 1.6;
		}
	}
			
</style>
